
.intro{
    margin: 1rem auto;
    padding: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name h4{
    color: var(---text--color---);
    font-size: 1.5rem;
    margin: 0rem;
}
.name h4::first-letter{
    color: var(---secondary--color---);
    font-size: 2rem;
}
.name p{
    color: rgba(0, 0, 0, 0.7);
    margin: 0rem;
    
}
.socials{
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content:center;
}
.social-icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(---primary--color---);
    border-left: var(---secondary--color---) 0.05rem solid;
    color: var(---text--color---);
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}
.social-icon:hover{
    background-color: var(---text--color---);
    color: var(---secondary--color---);
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    transform: translateY(-30%);
}
.intro-article{
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.intro-paragraph::first-letter{
   color: var(---secondary--color---);
   font-size: 1rem;
}
.article-btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-btns a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 0.7rem;
    border-radius: 0.1rem;
    border: 0rem;
    padding: 0.7rem;
    margin: 1rem;
    background-color: var(---secondary--color---);
    color: var(---text--color---);
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
    transition: all 0.7s ease-in-out;
    text-decoration: none;
}
.article-btns a:hover{
    background-color: var(---text--color---);
    color: var(---primary--color---);
    border-top: var(---secondary--color---) 0.1rem solid;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}
.skills-section{
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.skill{
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill-icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border-top: var(---secondary--color---) 0.1rem solid;
    border-bottom: var(---text--color---) 0.1rem solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(---primary--color---);
    color: var(---text--color---);
}
.skill-icon:hover{
    border-bottom: var(---secondary--color---) 0.1rem solid;
    border-top: var(---text--color---) 0.1rem solid;
    color: var(---secondary--color---);
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
    transform: scale(1.1);
}
.skill p{
    color: rgba(0, 0, 0, 0.7);
}

/* media queries */
@media screen and  (max-width: 520px){

    .intro-article{
        /* changed */
        width: 85vw;
    }
 
    .skill{
        margin: 0.5rem;
        padding: 0.25rem;
    }
   
}
@media screen and  (max-width: 420px){

  
}
@media screen and (max-height: 665px){
    .socials{
        height: 3rem;
        
    }

}