@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary--: 255 255 255;
    --color-secondary--: 245 245 245;
    --color-text--: 0 0 0;
    
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary--: 0 0 0;
      --color-secondary--: 25 25 25;
      --color-text--: 255 255 255; 
    }
  }
}
